aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
beautifulsoup4==4.6.3
buttons==0.1.7
chardet==3.0.4
discord.py==1.1.1
entrypoints==0.3
flake8==3.7.7
idna==2.7
idna-ssl==1.1.0
lxml==4.2.5
markdownify==0.4.1
mccabe==0.6.1
multidict==4.5.1
py-stackexchange==2.2.7
pycodestyle==2.5.0
pyflakes==2.1.1
PyYAML==3.13
six==1.11.0
subprocess32==3.5.3
websockets==6.0
yarl==1.2.6
