aio-pika==9.3.0
aiohttp==3.8.6
aioprometheus==23.3.0
aiormq==6.7.7
aiosignal==1.3.1
async-timeout==4.0.3
asyncpg==0.28.0
attrs==23.1.0
charset-normalizer==3.3.1
dateparser==1.1.8
discord.py==2.3.2
frozenlist==1.4.0
idna==3.4
multidict==6.0.4
orjson==3.9.9
pamqp==3.2.1
psutil==5.9.6
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
quantile-python==1.1
redis==5.0.1
regex==2023.10.3
six==1.16.0
typing_extensions==4.8.0
tzlocal==5.2
yarl==1.9.2
