body {
    color: white;
    background-color: #2c2f33;
    position: relative;
    min-height: 100vh;
}

body::after {
  content: '';
  display: block;
  height: 6rem;
}

hr {
    border-color: dimgrey;
    width: 70%;
    margin-left: 15%;
}

pre {
    color: white;
    background-color: #2c2f33;
    padding: 0.25em;
}

code {
    color: #ff5858;
    background-color: #2c2f33;
    padding: 0.125em;
}

h2 {
    color: #007bff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #23272a;
}

.navbar-dark {
    background-color: #23272a;
}

.link-dark {
    color: #1e90ff !important;
}

.link-dark:hover {
    color: #1e90ff !important;
}

.twitter-typeahead {
    width: 100%;
}

.tt-dataset .tt-suggestion:first-child {
    border-top: none !important;
    padding-top: 0 !important;
    height: 2em !important;
}

.tt-dataset .tt-suggestion:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    height: 2em !important;
}

.tt-dataset .tt-suggestion:only-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    height: 1.5em !important;
}

.tt-suggestion {
    height: 2.5em;
}

.tt-suggestion:hover {
    cursor: pointer;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

#scroll-button {
    background-color: #007bff;
    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 5%;
    width: 4em;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    z-index: 1000;
}

#scroll-button.show {
  opacity: 1;
  visibility: visible;
}

#scroll-button:hover {
    text-decoration: none;
}

@media (min-width: 992px) {
    #dashboard {
        height: 4100px !important;
    }
}
